@import "ScssHelpers/helpers-all.scss";

.partners {
	@include bp($point_2, min) {
		margin-top: -10.2rem;
	}
}

.partners__wrap {
	position: relative;
	z-index: 2;

	background-color: $white;
	border-radius: 2px;

	@include bp($point_2, min) {
		margin-right: -18rem;
	}

	@include bp($point_4, min) {
		padding: 6rem 6.6rem 5.4rem 6.6rem;
		box-shadow: 5rem 5rem 10rem rgba(0, 0, 0, 0.145947);
	}
	@include bp($point_4) {
		padding: 3rem;
		box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.145947);
	}
}

.partners__list {
	margin: 0 -6.6rem -3rem 0;

	@include bp($point_2, min) {
		@include flex_block(row, wrap, flex-start, center);
	}

	@include bp($point_3) {
		@include flex_block(row, wrap, center, center);
	}
}

.partners__item {
	padding: 0 6.6rem 3rem 0;
}

.partners__pic {
	display: block;

	@include bp($point_4, min) {
		width: 15.6rem;
		height: 11.2rem;
	}

	@include bp($point_4 - 1) {
		width: 12rem;
		height: 7.6rem;
	}
}

.partners__img {
	@include cover_img;
}
