.footer {
	position: relative;

	width: 100%;
	flex: 0 0 auto;

	font-size: 1rem;

	background-color: $olive_3;

	will-change: transform;

	@include bp($point_2, min) {
		min-height: var(--height-footer);
		padding: 31.6rem var(--gl-indent) 3.6rem;
	}

	@include bp($point_3) {
		padding: 3.6rem var(--gl-indent) 3.6rem;
	}
}

.footer__bg {
	@include stretch;
}

.footer__bg_img {
	@include cover_img;
}

.footer__in {
	max-width: $page_width;
	width: 100%;
	margin: 0 auto;
}

.footer__top {
	position: relative;

	&::after {
		position: absolute;
		bottom: 0;
		left: 0;

		content: "";

		width: 100%;
		height: 1px;

		background-color: $olive_5;
	}

	@include bp($point_2, min) {
		padding-bottom: 6rem;

		&:not(:last-child) {
			margin-bottom: 6.6rem;
		}
	}

	@include bp($point_3) {
		padding-bottom: 3rem;

		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}
}

.footer__menu {
	position: relative;

	&::after {
		position: absolute;
		bottom: 0;
		left: 0;

		content: "";

		width: 100%;
		height: 1px;

		background-color: $olive_5;
	}

	&:not(:last-child) {
		margin-bottom: 2.4rem;
	}

	@include bp($point_2, min) {
		@include flex_block(row, nowrap, flex-start, flex-start);

		padding-bottom: 6.8rem;
	}
	@include bp($point_3) {
		padding-bottom: 3rem;
	}
}

.footer__info {
	@include flex_block(row, wrap, flex-start, center);

	@include bp($point_4, min) {
		margin: 0 -13rem -3rem 0;
	}

	@include bp($point_4 - 1) {
		margin: 0 -3rem -2rem 0;
	}
}

.footer__info_item {
	@include bp($point_4, min) {
		padding: 0 13rem 3rem 0;
	}

	@include bp($point_4 - 1) {
		padding: 0 3rem 3rem 0;
	}
}

.footer__info_heading {
	@include text;

	color: $olive_2;

	@include bp($point_2, min) {
		&:not(:last-child) {
			margin-bottom: 2.2rem;
		}
	}
	@include bp($point_3) {
		&:not(:last-child) {
			margin-bottom: 1.6rem;
		}
	}
}

.footer__info_link {
	@include text;

	color: $white;
	font-weight: 700;

	transition: color 0.3s ease-in-out;

	&:hover,
	&:focus {
		text-decoration: none;
		color: $blue_1;
	}
}

.footer__info_descr {
	@include text;

	color: $white;
	font-weight: 700;
}

.footer__nav {
	@include bp($point_2, min) {
		position: relative;
		width: 62%;
		flex-shrink: 0;

		&::after {
			position: absolute;
			top: 0;
			right: 0;

			content: "";

			width: 1px;
			height: 100%;

			background-color: $olive_5;
		}

		&:not(:last-child) {
			margin-right: 3rem;
		}
	}

	@include bp($point_3) {
		&:not(:last-child) {
			margin-bottom: 3.2rem;
		}
	}
}

.footer__nav_list {
	@include bp($point_5, min) {
		width: 100%;
		@include flex_block(row, wrap, flex-start, flex-start);

		margin: 0 -7rem -3rem 0;
	}
}

.footer__nav_item {
	position: relative;

	@include bp($point_2, min) {
		&:nth-child(3n + 1) {
			width: 35%;
		}
		&:nth-child(3n + 2) {
			width: 39%;
		}
		&:nth-child(3n + 3) {
			width: 26%;
		}
	}

	@include bp($point_3, $point_5) {
		width: 33.333%;
	}

	@include bp($point_5, min) {
		flex-shrink: 0;
		padding: 0 7rem 3rem 0;
	}

	@include bp($point_5 - 1) {
		&:not(:last-child) {
			margin-bottom: 1.8rem;
		}
	}
}

.footer__nav_title {
	@include text;

	font-weight: 600;
	text-transform: uppercase;
	color: $white;

	@include bp($point_2, min) {
		&:not(:last-child) {
			margin-bottom: 3.4rem;
		}
	}

	@include bp($point_3, $point_4) {
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	@include bp($point_4 - 1) {
		&:not(:last-child) {
			margin-bottom: 1.4rem;
		}
	}
}

.footer__list {
}

.footer__item {
	&:not(:last-child) {
		margin-bottom: 1.4rem;
	}
}

.footer__link {
	@include text;

	color: $olive_2;

	transition: color 0.3s ease-in-out;

	&:hover,
	&:focus {
		text-decoration: none;
		color: $blue_1;
	}
}

.footer__touch {
	margin-left: auto;
}

.footer__touch_title {
	@include text;

	font-weight: 600;
	text-transform: uppercase;
	color: $white;

	@include bp($point_2, min) {
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	@include bp($point_3) {
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
}

.footer__touch_text {
	@include text;

	max-width: 26rem;

	color: $olive_2;

	&:not(:last-child) {
		margin-bottom: 2.2rem;
	}
}

.footer__touch_email {
	display: block;

	font-weight: 700;

	line-height: 1.5;

	color: $white;
	cursor: pointer;

	transition: color 0.3s ease-in-out;

	&:hover,
	&:focus {
		color: $blue_1;
		text-decoration: none;
	}

	@include bp($point_4, min) {
		font-size: 2.4rem;

		&:not(:last-child) {
			margin-bottom: 2.4rem;
		}
	}

	@include bp($point_4 - 1) {
		font-size: 1.8rem;

		&:not(:last-child) {
			margin-bottom: 1.6rem;
		}
	}
}

.footer__social {
}

.footer__social_list {
	@include flex_block(row, wrap, flex-start, center);

	margin: 0 -1.2rem -1rem 0;
}

.footer__social_item {
	padding: 0 1.2rem 1rem 0;
}

.footer__social_link {
	display: block;

	width: 3.3rem;
	height: 3.3rem;
	padding: 0.6rem;

	border-radius: 50%;

	color: $olive_7;
	background-color: $olive_6;

	transition: color 0.3s ease-in-out, background 0.3s ease-in-out;

	&:hover,
	&:focus {
		background-color: $yellow;
		color: $white;
	}
}

.footer__bottom {
	position: relative;

	@include bp($point_4, min) {
		@include flex_block(row, wrap, flex-start, center);
	}
}

.footer__logo {
	@include bp($point_4, min) {
		width: 20rem;
		height: 3.2rem;

		&:not(:last-child) {
			margin-right: 1.4rem;
		}
	}

	@include bp($point_4 - 1) {
		display: block;
		width: 16rem;
		height: 3rem;

		&:not(:last-child) {
			margin-bottom: 1.6rem;
		}
	}
}

.footer__logo_img {
	@include contain_img;
}

.footer__reserved {
	margin-left: auto;

	font-size: 1.4rem;

	color: $olive_4;
	line-height: 1.5;
}
